﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" %>
<%@ Import Namespace="System.IO" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
 <link href="resources/fotorama.css" rel="stylesheet" type="text/css" />
 <script src="resources/fotorama.js" type="text/javascript"></script>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="contentMain" Runat="Server">
    <div class="fotorama">
        <img src="resources/img/bootstrap-mdo-sfmoma-01.jpg" />
        <img src="resources/img/bootstrap-mdo-sfmoma-02.jpg" />
        <img src="resources/img/bootstrap-mdo-sfmoma-03.jpg" />
    </div>
</asp:Content>

