@font-face {
  font-family: 'IcoMoon';
  font-style: normal;
  font-weight: normal;
  src: url('/resources/bootmetro/assets/font/IcoMoon.eot');
  src: url('/resources/bootmetro/assets/font/IcoMoon.svg#IcoMoon') format('svg'), url('/resources/bootmetro/assets/font/IcoMoon.eot?#iefix') format('embedded-opentype'), url('/resources/bootmetro/assets/font/IcoMoon.woff') format('woff'), url('/resources/bootmetro/assets/font/IcoMoon.ttf') format('truetype');
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
  font-family: 'icomoon';
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: attr(data-icon);
  speak: none;
  font-variant: normal;
}

/* Use the following CSS code if you want to have a class per icon */

/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-battery-low,
.icon-battery,
.icon-battery-full,
.icon-battery-charging,
.icon-plus,
.icon-cross,
.icon-arrow-right,
.icon-arrow-left,
.icon-pencil,
.icon-search,
.icon-grid,
.icon-list,
.icon-star,
.icon-heart,
.icon-back,
.icon-forward,
.icon-map-marker,
.icon-phone,
.icon-home,
.icon-camera,
.icon-arrow-left-2,
.icon-arrow-right-2,
.icon-arrow-up,
.icon-arrow-down,
.icon-refresh,
.icon-refresh-2,
.icon-escape,
.icon-repeat,
.icon-loop,
.icon-shuffle,
.icon-feed,
.icon-cog,
.icon-wrench,
.icon-bars,
.icon-chart,
.icon-stats,
.icon-eye,
.icon-zoom-out,
.icon-zoom-in,
.icon-export,
.icon-user,
.icon-users,
.icon-microphone,
.icon-mail,
.icon-comment,
.icon-trashcan,
.icon-delete,
.icon-infinity,
.icon-key,
.icon-globe,
.icon-thumbs-up,
.icon-thumbs-down,
.icon-tag,
.icon-views,
.icon-warning,
.icon-beta,
.icon-unlocked,
.icon-locked,
.icon-eject,
.icon-move,
.icon-expand,
.icon-cancel,
.icon-electricity,
.icon-compass,
.icon-location,
.icon-directions,
.icon-pin,
.icon-mute,
.icon-volume,
.icon-globe-2,
.icon-pencil-2,
.icon-minus,
.icon-equals,
.icon-list-2,
.icon-flag,
.icon-info,
.icon-question,
.icon-chat,
.icon-clock,
.icon-calendar,
.icon-sun,
.icon-contrast,
.icon-mobile,
.icon-download,
.icon-puzzle,
.icon-music,
.icon-scissors,
.icon-bookmark,
.icon-anchor,
.icon-checkmark,
.icon-phone-2,
.icon-mobile-2,
.icon-mouse,
.icon-directions-2,
.icon-mail-2,
.icon-paperplane,
.icon-pencil-3,
.icon-feather,
.icon-paperclip,
.icon-drawer,
.icon-reply,
.icon-reply-all,
.icon-forward-2,
.icon-user-2,
.icon-users-2,
.icon-user-add,
.icon-vcard,
.icon-export-2,
.icon-location-2,
.icon-map,
.icon-compass-2,
.icon-location-3,
.icon-target,
.icon-share,
.icon-sharable,
.icon-heart-2,
.icon-heart-3,
.icon-star-2,
.icon-star-3,
.icon-thumbs-up-2,
.icon-thumbs-down-2,
.icon-chat-2,
.icon-comment-2,
.icon-quote,
.icon-house,
.icon-popup,
.icon-search-2,
.icon-flashlight,
.icon-printer,
.icon-bell,
.icon-link,
.icon-flag-2,
.icon-cog-2,
.icon-tools,
.icon-trophy,
.icon-tag-2,
.icon-camera-2,
.icon-megaphone,
.icon-moon,
.icon-palette,
.icon-leaf,
.icon-music-2,
.icon-music-3,
.icon-new,
.icon-graduation,
.icon-book,
.icon-newspaper,
.icon-bag,
.icon-airplane,
.icon-lifebuoy,
.icon-eye-2,
.icon-clock-2,
.icon-microphone-2,
.icon-calendar-2,
.icon-bolt,
.icon-thunder,
.icon-droplet,
.icon-cd,
.icon-briefcase,
.icon-air,
.icon-hourglass,
.icon-gauge,
.icon-language,
.icon-network,
.icon-key-2,
.icon-battery-2,
.icon-bucket,
.icon-magnet,
.icon-drive,
.icon-cup,
.icon-rocket,
.icon-brush,
.icon-suitcase,
.icon-cone,
.icon-earth,
.icon-keyboard,
.icon-browser,
.icon-publish,
.icon-progress-3,
.icon-progress-2,
.icon-brogress-1,
.icon-progress-0,
.icon-sun-2,
.icon-sun-3,
.icon-adjust,
.icon-code,
.icon-screen,
.icon-infinity-2,
.icon-light-bulb,
.icon-credit-card,
.icon-database,
.icon-voicemail,
.icon-clipboard,
.icon-cart,
.icon-box,
.icon-ticket,
.icon-rss,
.icon-signal,
.icon-thermometer,
.icon-droplets,
.icon-untitled,
.icon-statistics,
.icon-pie,
.icon-bars-2,
.icon-graph,
.icon-lock,
.icon-lock-open,
.icon-logout,
.icon-login,
.icon-checkmark-2,
.icon-cross-2,
.icon-minus-2,
.icon-plus-2,
.icon-cross-3,
.icon-minus-3,
.icon-plus-3,
.icon-cross-4,
.icon-minus-4,
.icon-plus-4,
.icon-erase,
.icon-blocked,
.icon-info-2,
.icon-info-3,
.icon-question-2,
.icon-help,
.icon-warning-2,
.icon-cycle,
.icon-cw,
.icon-ccw,
.icon-shuffle-2,
.icon-arrow,
.icon-arrow-2,
.icon-retweet,
.icon-loop-2,
.icon-history,
.icon-back-2,
.icon-switch,
.icon-list-3,
.icon-add-to-list,
.icon-layout,
.icon-list-4,
.icon-text,
.icon-text-2,
.icon-document,
.icon-docs,
.icon-landscape,
.icon-pictures,
.icon-video,
.icon-music-4,
.icon-folder,
.icon-archive,
.icon-trash,
.icon-upload,
.icon-download-2,
.icon-disk,
.icon-install,
.icon-cloud,
.icon-upload-2,
.icon-bookmark-2,
.icon-bookmarks,
.icon-book-2,
.icon-play,
.icon-pause,
.icon-record,
.icon-stop,
.icon-next,
.icon-previous,
.icon-first,
.icon-last,
.icon-resize-enlarge,
.icon-resize-shrink,
.icon-volume-2,
.icon-sound,
.icon-mute-2,
.icon-flow-cascade,
.icon-flow-branch,
.icon-flow-tree,
.icon-flow-line,
.icon-flow-parallel,
.icon-arrow-left-3,
.icon-arrow-down-2,
.icon-arrow-up--upload,
.icon-arrow-right-3,
.icon-arrow-left-4,
.icon-arrow-down-3,
.icon-arrow-up-2,
.icon-arrow-right-4,
.icon-arrow-left-5,
.icon-arrow-down-4,
.icon-arrow-up-3,
.icon-arrow-right-5,
.icon-arrow-left-6,
.icon-arrow-down-5,
.icon-arrow-up-4,
.icon-arrow-right-6,
.icon-arrow-left-7,
.icon-arrow-down-6,
.icon-arrow-up-5,
.icon-arrow-right-7,
.icon-arrow-left-8,
.icon-arrow-down-7,
.icon-arrow-up-6,
.icon-arrow-right-8,
.icon-arrow-left-9,
.icon-arrow-down-8,
.icon-arrow-up-7,
.icon-untitled-2,
.icon-arrow-left-10,
.icon-arrow-down-9,
.icon-arrow-up-8,
.icon-arrow-right-9,
.icon-menu,
.icon-ellipsis,
.icon-dots,
.icon-dot,
.icon-cc,
.icon-cc-by,
.icon-cc-nc,
.icon-cc-nc-eu,
.icon-cc-nc-jp,
.icon-cc-sa,
.icon-cc-nd,
.icon-cc-pd,
.icon-cc-zero,
.icon-cc-share,
.icon-cc-share-2,
.icon-daniel-bruce,
.icon-daniel-bruce-2,
.icon-github,
.icon-github-2,
.icon-flickr,
.icon-flickr-2,
.icon-vimeo,
.icon-vimeo-2,
.icon-twitter,
.icon-twitter-2,
.icon-facebook,
.icon-facebook-2,
.icon-facebook-3,
.icon-googleplus,
.icon-googleplus-2,
.icon-pinterest,
.icon-pinterest-2,
.icon-tumblr,
.icon-tumblr-2,
.icon-linkedin,
.icon-linkedin-2,
.icon-dribbble,
.icon-dribbble-2,
.icon-stumbleupon,
.icon-stumbleupon-2,
.icon-lastfm,
.icon-lastfm-2,
.icon-rdio,
.icon-rdio-2,
.icon-spotify,
.icon-spotify-2,
.icon-qq,
.icon-instagram,
.icon-dropbox,
.icon-evernote,
.icon-flattr,
.icon-skype,
.icon-skype-2,
.icon-renren,
.icon-sina-weibo,
.icon-paypal,
.icon-picasa,
.icon-soundcloud,
.icon-mixi,
.icon-behance,
.icon-circles,
.icon-vk,
.icon-smashing,
.icon-home-2,
.icon-home-3,
.icon-home-4,
.icon-office,
.icon-newspaper-2,
.icon-pencil-4,
.icon-pencil-5,
.icon-quill,
.icon-pen,
.icon-blog,
.icon-droplet-2,
.icon-paint-format,
.icon-image,
.icon-image-2,
.icon-images,
.icon-camera-3,
.icon-music-5,
.icon-headphones,
.icon-play-2,
.icon-film,
.icon-camera-4,
.icon-dice,
.icon-pacman,
.icon-spades,
.icon-clubs,
.icon-diamonds,
.icon-pawn,
.icon-bullhorn,
.icon-connection,
.icon-podcast,
.icon-feed-2,
.icon-book-3,
.icon-books,
.icon-library,
.icon-file,
.icon-profile,
.icon-file-2,
.icon-file-3,
.icon-file-4,
.icon-copy,
.icon-copy-2,
.icon-copy-3,
.icon-paste,
.icon-paste-2,
.icon-paste-3,
.icon-stack,
.icon-folder-2,
.icon-folder-open,
.icon-tag-3,
.icon-tags,
.icon-barcode,
.icon-qrcode,
.icon-ticket-2,
.icon-cart-2,
.icon-cart-3,
.icon-cart-4,
.icon-coin,
.icon-credit,
.icon-calculate,
.icon-support,
.icon-phone-3,
.icon-phone-hang-up,
.icon-address-book,
.icon-notebook,
.icon-envelop,
.icon-pushpin,
.icon-location-4,
.icon-location-5,
.icon-compass-3,
.icon-map-2,
.icon-map-3,
.icon-history-2,
.icon-clock-3,
.icon-clock-4,
.icon-alarm,
.icon-alarm-2,
.icon-bell-2,
.icon-stopwatch,
.icon-calendar-3,
.icon-calendar-4,
.icon-print,
.icon-keyboard-2,
.icon-screen-2,
.icon-laptop,
.icon-mobile-3,
.icon-mobile-4,
.icon-tablet,
.icon-tv,
.icon-cabinet,
.icon-drawer-2,
.icon-drawer-3,
.icon-drawer-4,
.icon-box-add,
.icon-box-remove,
.icon-download-3,
.icon-upload-3,
.icon-disk-2,
.icon-storage,
.icon-undo,
.icon-redo,
.icon-flip,
.icon-flip-2,
.icon-undo-2,
.icon-redo-2,
.icon-forward-3,
.icon-reply-2,
.icon-bubble,
.icon-bubbles,
.icon-bubbles-2,
.icon-bubble-2,
.icon-bubbles-3,
.icon-bubbles-4,
.icon-user-3,
.icon-users-3,
.icon-user-4,
.icon-users-4,
.icon-user-5,
.icon-user-6,
.icon-quotes-left,
.icon-busy,
.icon-spinner,
.icon-spinner-2,
.icon-spinner-3,
.icon-spinner-4,
.icon-spinner-5,
.icon-spinner-6,
.icon-binoculars,
.icon-search-3,
.icon-zoom-in-2,
.icon-zoom-out-2,
.icon-expand-2,
.icon-contract,
.icon-expand-3,
.icon-contract-2,
.icon-key-3,
.icon-key-4,
.icon-lock-2,
.icon-lock-3,
.icon-unlocked-2,
.icon-wrench-2,
.icon-settings,
.icon-equalizer,
.icon-cog-3,
.icon-cogs,
.icon-cog-4,
.icon-hammer,
.icon-wand,
.icon-aid,
.icon-bug,
.icon-pie-2,
.icon-stats-2,
.icon-bars-3,
.icon-bars-4,
.icon-gift,
.icon-trophy-2,
.icon-glass,
.icon-mug,
.icon-food,
.icon-leaf-2,
.icon-rocket-2,
.icon-meter,
.icon-meter2,
.icon-dashboard,
.icon-hammer-2,
.icon-fire,
.icon-lab,
.icon-magnet-2,
.icon-remove,
.icon-remove-2,
.icon-briefcase-2,
.icon-airplane-2,
.icon-truck,
.icon-road,
.icon-accessibility,
.icon-target-2,
.icon-shield,
.icon-lightning,
.icon-switch-2,
.icon-power-cord,
.icon-signup,
.icon-list-5,
.icon-list-6,
.icon-numbered-list,
.icon-menu-2,
.icon-menu-3,
.icon-tree,
.icon-cloud-2,
.icon-cloud-download,
.icon-cloud-upload,
.icon-download-4,
.icon-upload-4,
.icon-download-5,
.icon-upload-5,
.icon-globe-3,
.icon-earth-2,
.icon-link-2,
.icon-flag-3,
.icon-attachment,
.icon-eye-3,
.icon-eye-blocked,
.icon-eye-4,
.icon-bookmark-3,
.icon-bookmarks-2,
.icon-brightness-medium,
.icon-brightness-contrast,
.icon-contrast-2,
.icon-star-4,
.icon-star-5,
.icon-star-6,
.icon-heart-4,
.icon-heart-5,
.icon-heart-broken,
.icon-thumbs-up-3,
.icon-thumbs-up-4,
.icon-happy,
.icon-happy-2,
.icon-smiley,
.icon-smiley-2,
.icon-tongue,
.icon-tongue-2,
.icon-sad,
.icon-sad-2,
.icon-wink,
.icon-wink-2,
.icon-grin,
.icon-grin-2,
.icon-cool,
.icon-cool-2,
.icon-angry,
.icon-angry-2,
.icon-evil,
.icon-evil-2,
.icon-shocked,
.icon-shocked-2,
.icon-confused,
.icon-confused-2,
.icon-neutral,
.icon-neutral-2,
.icon-wondering,
.icon-wondering-2,
.icon-point-up,
.icon-point-right,
.icon-point-down,
.icon-point-left,
.icon-warning-3,
.icon-notification,
.icon-question-3,
.icon-info-4,
.icon-info-5,
.icon-blocked-2,
.icon-cancel-circle,
.icon-checkmark-circle,
.icon-spam,
.icon-close,
.icon-checkmark-3,
.icon-checkmark-4,
.icon-spell-check,
.icon-minus-5,
.icon-plus-5,
.icon-enter,
.icon-exit,
.icon-play-3,
.icon-pause-2,
.icon-stop-2,
.icon-backward,
.icon-forward-4,
.icon-play-4,
.icon-pause-3,
.icon-stop-3,
.icon-backward-2,
.icon-forward-5,
.icon-first-2,
.icon-last-2,
.icon-previous-2,
.icon-next-2,
.icon-eject-2,
.icon-volume-high,
.icon-volume-medium,
.icon-volume-low,
.icon-volume-mute,
.icon-volume-mute-2,
.icon-volume-increase,
.icon-volume-decrease,
.icon-loop-3,
.icon-loop-4,
.icon-loop-5,
.icon-shuffle-3,
.icon-arrow-up-left,
.icon-arrow-up-9,
.icon-arrow-up-right,
.icon-arrow-right-10,
.icon-arrow-down-right,
.icon-arrow-down-10,
.icon-arrow-down-left,
.icon-arrow-left-11,
.icon-arrow-up-left-2,
.icon-arrow-up-10,
.icon-arrow-up-right-2,
.icon-arrow-right-11,
.icon-arrow-down-right-2,
.icon-arrow-down-11,
.icon-arrow-down-left-2,
.icon-arrow-left-12,
.icon-arrow-up-left-3,
.icon-arrow-up-11,
.icon-arrow-up-right-3,
.icon-arrow-right-12,
.icon-arrow-down-right-3,
.icon-arrow-down-12,
.icon-arrow-down-left-3,
.icon-arrow-left-13,
.icon-tab,
.icon-checkbox-checked,
.icon-checkbox-unchecked,
.icon-checkbox-partial,
.icon-radio-checked,
.icon-radio-unchecked,
.icon-crop,
.icon-scissors-2,
.icon-filter,
.icon-filter-2,
.icon-font,
.icon-text-height,
.icon-text-width,
.icon-bold,
.icon-underline,
.icon-italic,
.icon-strikethrough,
.icon-omega,
.icon-sigma,
.icon-table,
.icon-table-2,
.icon-insert-template,
.icon-pilcrow,
.icon-left-to-right,
.icon-right-to-left,
.icon-paragraph-left,
.icon-paragraph-center,
.icon-paragraph-right,
.icon-paragraph-justify,
.icon-paragraph-left-2,
.icon-paragraph-center-2,
.icon-paragraph-right-2,
.icon-paragraph-justify-2,
.icon-indent-increase,
.icon-indent-decrease,
.icon-new-tab,
.icon-embed,
.icon-code-2,
.icon-console,
.icon-share-2,
.icon-mail-3,
.icon-mail-4,
.icon-mail-5,
.icon-mail-6,
.icon-google,
.icon-google-plus,
.icon-google-plus-2,
.icon-google-plus-3,
.icon-google-plus-4,
.icon-google-drive,
.icon-facebook-4,
.icon-facebook-5,
.icon-facebook-6,
.icon-instagram-2,
.icon-twitter-3,
.icon-twitter-4,
.icon-twitter-5,
.icon-feed-3,
.icon-feed-4,
.icon-feed-5,
.icon-youtube,
.icon-youtube-2,
.icon-vimeo-3,
.icon-vimeo2,
.icon-vimeo-4,
.icon-lanyrd,
.icon-flickr-3,
.icon-flickr-4,
.icon-flickr-5,
.icon-flickr-6,
.icon-picassa,
.icon-picassa-2,
.icon-dribbble-3,
.icon-dribbble-4,
.icon-dribbble-5,
.icon-forrst,
.icon-forrst-2,
.icon-deviantart,
.icon-deviantart-2,
.icon-steam,
.icon-steam-2,
.icon-github-3,
.icon-github-4,
.icon-github-5,
.icon-github-6,
.icon-github-7,
.icon-wordpress,
.icon-wordpress-2,
.icon-joomla,
.icon-blogger,
.icon-blogger-2,
.icon-tumblr-3,
.icon-tumblr-4,
.icon-yahoo,
.icon-tux,
.icon-apple,
.icon-finder,
.icon-android,
.icon-windows,
.icon-windows8,
.icon-soundcloud-2,
.icon-soundcloud-3,
.icon-skype-3,
.icon-reddit,
.icon-linkedin-3,
.icon-lastfm-3,
.icon-lastfm-4,
.icon-delicious,
.icon-stumbleupon-3,
.icon-stumbleupon-4,
.icon-stackoverflow,
.icon-pinterest-3,
.icon-pinterest-4,
.icon-xing,
.icon-xing-2,
.icon-flattr-2,
.icon-foursquare,
.icon-foursquare-2,
.icon-paypal-2,
.icon-paypal-3,
.icon-paypal-4,
.icon-yelp,
.icon-libreoffice,
.icon-file-pdf,
.icon-file-openoffice,
.icon-file-word,
.icon-file-excel,
.icon-file-zip,
.icon-file-powerpoint,
.icon-file-xml,
.icon-file-css,
.icon-html5,
.icon-html5-2,
.icon-css3,
.icon-chrome,
.icon-firefox,
.icon-IE,
.icon-opera,
.icon-safari,
.icon-IcoMoon,
.icon-warning-4,
.icon-cloud-3,
.icon-locked-2,
.icon-inbox,
.icon-comment-3,
.icon-mic,
.icon-envelope,
.icon-briefcase-3,
.icon-cart-5,
.icon-contrast-3,
.icon-clock-5,
.icon-user-7,
.icon-cog-5,
.icon-music-6,
.icon-twitter-6,
.icon-pencil-6,
.icon-frame,
.icon-switch-3,
.icon-star-7,
.icon-key-5,
.icon-chart-2,
.icon-apple-2,
.icon-file-5,
.icon-plus-6,
.icon-minus-6,
.icon-picture,
.icon-folder-3,
.icon-camera-5,
.icon-search-4,
.icon-dribbble-6,
.icon-forrst-3,
.icon-feed-6,
.icon-blocked-3,
.icon-target-3,
.icon-play-5,
.icon-pause-4,
.icon-bug-2,
.icon-console-2,
.icon-film-2,
.icon-type,
.icon-home-5,
.icon-earth-3,
.icon-location-6,
.icon-info-6,
.icon-eye-5,
.icon-heart-6,
.icon-bookmark-4,
.icon-wrench-3,
.icon-calendar-5,
.icon-window,
.icon-monitor,
.icon-mobile-5,
.icon-droplet-3,
.icon-mouse-2,
.icon-refresh-3,
.icon-location-7,
.icon-tag-4,
.icon-phone-4,
.icon-star-8,
.icon-pointer,
.icon-thumbs-up-5,
.icon-thumbs-down-3,
.icon-headphones-2,
.icon-move-2,
.icon-checkmark-5,
.icon-cancel-2,
.icon-skype-4,
.icon-gift-2,
.icon-cone-2,
.icon-alarm-3,
.icon-coffee,
.icon-basket,
.icon-flag-4,
.icon-ipod,
.icon-trashcan-2,
.icon-bolt-2,
.icon-ampersand,
.icon-compass-4,
.icon-list-7,
.icon-grid-2,
.icon-volume-3,
.icon-volume-4,
.icon-stats-3,
.icon-target-4,
.icon-forward-6,
.icon-paperclip-2,
.icon-keyboard-3,
.icon-crop-2,
.icon-floppy,
.icon-filter-3,
.icon-trophy-3,
.icon-diary,
.icon-address-book-2,
.icon-stop-4,
.icon-smiley-3,
.icon-shit,
.icon-bookmark-5,
.icon-camera-6,
.icon-lamp,
.icon-disk-3,
.icon-button,
.icon-database-2,
.icon-credit-card-2,
.icon-atom,
.icon-winsows,
.icon-target-5,
.icon-battery-3,
.icon-code-3,
.icon-sunrise,
.icon-sun-4,
.icon-moon-2,
.icon-sun-5,
.icon-windy,
.icon-wind,
.icon-snowflake,
.icon-cloudy,
.icon-cloud-4,
.icon-weather,
.icon-weather-2,
.icon-weather-3,
.icon-lines,
.icon-cloud-5,
.icon-lightning-2,
.icon-lightning-3,
.icon-rainy,
.icon-rainy-2,
.icon-windy-2,
.icon-windy-3,
.icon-snowy,
.icon-snowy-2,
.icon-snowy-3,
.icon-weather-4,
.icon-cloudy-2,
.icon-cloud-6,
.icon-lightning-4,
.icon-sun-6,
.icon-moon-3,
.icon-cloudy-3,
.icon-cloud-7,
.icon-cloud-8,
.icon-lightning-5,
.icon-rainy-3,
.icon-rainy-4,
.icon-windy-4,
.icon-windy-5,
.icon-snowy-4,
.icon-snowy-5,
.icon-weather-5,
.icon-cloudy-4,
.icon-lightning-6,
.icon-thermometer-2,
.icon-compass-5,
.icon-none,
.icon-Celsius,
.icon-Fahrenheit,
.icon-chat-3,
.icon-chat-alt-stroke,
.icon-chat-alt-fill,
.icon-comment-alt1-stroke,
.icon-comment-alt1-fill,
.icon-comment-stroke,
.icon-comment-fill,
.icon-comment-alt2-stroke,
.icon-comment-alt2-fill,
.icon-checkmark-6,
.icon-check-alt,
.icon-x,
.icon-x-altx-alt,
.icon-denied,
.icon-cursor,
.icon-rss-2,
.icon-rss-alt,
.icon-wrench-4,
.icon-dial,
.icon-cog-6,
.icon-calendar-6,
.icon-calendar-alt-stroke,
.icon-calendar-alt-fill,
.icon-share-3,
.icon-mail-7,
.icon-heart-stroke,
.icon-heart-fill,
.icon-movie,
.icon-document-alt-stroke,
.icon-document-alt-fill,
.icon-document-stroke,
.icon-document-fill,
.icon-plus-7,
.icon-plus-alt,
.icon-minus-7,
.icon-minus-alt,
.icon-pin-2,
.icon-link-3,
.icon-bolt-3,
.icon-move-3,
.icon-move-alt1,
.icon-move-alt2,
.icon-equalizer-2,
.icon-award-fill,
.icon-award-stroke,
.icon-magnifying-glass,
.icon-trash-stroke,
.icon-trash-fill,
.icon-beaker-alt,
.icon-beaker,
.icon-key-stroke,
.icon-key-fill,
.icon-new-window,
.icon-lightbulb,
.icon-spin-alt,
.icon-spin,
.icon-curved-arrow,
.icon-undo-3,
.icon-reload,
.icon-reload-alt,
.icon-loop-6,
.icon-loop-alt1,
.icon-loop-alt2,
.icon-loop-alt3,
.icon-loop-alt4,
.icon-transfer,
.icon-move-vertical,
.icon-move-vertical-alt1,
.icon-move-vertical-alt2,
.icon-move-horizontal,
.icon-move-horizontal-alt1,
.icon-move-horizontal-alt2,
.icon-arrow-left-14,
.icon-arrow-left-alt1,
.icon-arrow-left-alt2,
.icon-arrow-right-13,
.icon-arrow-right-alt1,
.icon-arrow-right-alt2,
.icon-arrow-up-12,
.icon-arrow-up-alt1,
.icon-arrow-up-alt2,
.icon-arrow-down-13,
.icon-arrow-down-alt1,
.icon-arrow-down-alt2,
.icon-cd-2,
.icon-steering-wheel,
.icon-microphone-3,
.icon-headphones-3,
.icon-volume-5,
.icon-volume-mute-3,
.icon-play-6,
.icon-pause-5,
.icon-stop-5,
.icon-eject-3,
.icon-first-3,
.icon-last-3,
.icon-play-alt,
.icon-fullscreen-exit,
.icon-fullscreen-exit-alt,
.icon-fullscreen,
.icon-fullscreen-alt,
.icon-iphone,
.icon-battery-empty,
.icon-battery-half,
.icon-battery-full-2,
.icon-battery-charging-2,
.icon-compass-6,
.icon-box-2,
.icon-folder-stroke,
.icon-folder-fill,
.icon-at,
.icon-ampersand-2,
.icon-info-7,
.icon-question-mark,
.icon-pilcrow-2,
.icon-hash,
.icon-left-quote,
.icon-right-quote,
.icon-left-quote-alt,
.icon-right-quote-alt,
.icon-article,
.icon-read-more,
.icon-list-8,
.icon-list-nested,
.icon-book-4,
.icon-book-alt,
.icon-book-alt2,
.icon-pen-2,
.icon-pen-alt-stroke,
.icon-pen-alt-fill,
.icon-pen-alt2,
.icon-brush-2,
.icon-brush-alt,
.icon-eyedropper,
.icon-layers-alt,
.icon-layers,
.icon-image-3,
.icon-camera-7,
.icon-aperture,
.icon-aperture-alt,
.icon-chart-3,
.icon-chart-alt,
.icon-bars-5,
.icon-bars-alt,
.icon-eye-6,
.icon-user-8,
.icon-home-6,
.icon-clock-6,
.icon-lock-stroke,
.icon-lock-fill,
.icon-unlock-stroke,
.icon-unlock-fill,
.icon-tag-stroke,
.icon-tag-fill,
.icon-sun-stroke,
.icon-sun-fill,
.icon-moon-stroke,
.icon-moon-fill,
.icon-cloud-9,
.icon-rain,
.icon-umbrella,
.icon-star-9,
.icon-map-pin-stroke,
.icon-map-pin-fill,
.icon-map-pin-alt,
.icon-target-6,
.icon-download-6,
.icon-upload-6,
.icon-cloud-download-2,
.icon-cloud-upload-2,
.icon-fork,
.icon-paperclip-3 {
  font-family: 'icomoon';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  font-variant: normal;
}

.icon-battery-low:before {
  content: "\e000";
}

.icon-battery:before {
  content: "\e001";
}

.icon-battery-full:before {
  content: "\e002";
}

.icon-battery-charging:before {
  content: "\e003";
}

.icon-plus:before {
  content: "\e004";
}

.icon-cross:before {
  content: "\e005";
}

.icon-arrow-right:before {
  content: "\e006";
}

.icon-arrow-left:before {
  content: "\e007";
}

.icon-pencil:before {
  content: "\e008";
}

.icon-search:before {
  content: "\e009";
}

.icon-grid:before {
  content: "\e00a";
}

.icon-list:before {
  content: "\e00b";
}

.icon-star:before {
  content: "\e00c";
}

.icon-heart:before {
  content: "\e00d";
}

.icon-back:before {
  content: "\e00e";
}

.icon-forward:before {
  content: "\e00f";
}

.icon-map-marker:before {
  content: "\e010";
}

.icon-phone:before {
  content: "\e011";
}

.icon-home:before {
  content: "\e012";
}

.icon-camera:before {
  content: "\e013";
}

.icon-arrow-left-2:before {
  content: "\e014";
}

.icon-arrow-right-2:before {
  content: "\e015";
}

.icon-arrow-up:before {
  content: "\e016";
}

.icon-arrow-down:before {
  content: "\e017";
}

.icon-refresh:before {
  content: "\e018";
}

.icon-refresh-2:before {
  content: "\e019";
}

.icon-escape:before {
  content: "\e01a";
}

.icon-repeat:before {
  content: "\e01b";
}

.icon-loop:before {
  content: "\e01c";
}

.icon-shuffle:before {
  content: "\e01d";
}

.icon-feed:before {
  content: "\e01e";
}

.icon-cog:before {
  content: "\e01f";
}

.icon-wrench:before {
  content: "\e020";
}

.icon-bars:before {
  content: "\e021";
}

.icon-chart:before {
  content: "\e022";
}

.icon-stats:before {
  content: "\e023";
}

.icon-eye:before {
  content: "\e024";
}

.icon-zoom-out:before {
  content: "\e025";
}

.icon-zoom-in:before {
  content: "\e026";
}

.icon-export:before {
  content: "\e027";
}

.icon-user:before {
  content: "\e028";
}

.icon-users:before {
  content: "\e029";
}

.icon-microphone:before {
  content: "\e02a";
}

.icon-mail:before {
  content: "\e02b";
}

.icon-comment:before {
  content: "\e02c";
}

.icon-trashcan:before {
  content: "\e02d";
}

.icon-delete:before {
  content: "\e02e";
}

.icon-infinity:before {
  content: "\e02f";
}

.icon-key:before {
  content: "\e030";
}

.icon-globe:before {
  content: "\e031";
}

.icon-thumbs-up:before {
  content: "\e032";
}

.icon-thumbs-down:before {
  content: "\e033";
}

.icon-tag:before {
  content: "\e034";
}

.icon-views:before {
  content: "\e035";
}

.icon-warning:before {
  content: "\e036";
}

.icon-beta:before {
  content: "\e037";
}

.icon-unlocked:before {
  content: "\e038";
}

.icon-locked:before {
  content: "\e039";
}

.icon-eject:before {
  content: "\e03a";
}

.icon-move:before {
  content: "\e03b";
}

.icon-expand:before {
  content: "\e03c";
}

.icon-cancel:before {
  content: "\e03d";
}

.icon-electricity:before {
  content: "\e03e";
}

.icon-compass:before {
  content: "\e03f";
}

.icon-location:before {
  content: "\e040";
}

.icon-directions:before {
  content: "\e041";
}

.icon-pin:before {
  content: "\e042";
}

.icon-mute:before {
  content: "\e043";
}

.icon-volume:before {
  content: "\e044";
}

.icon-globe-2:before {
  content: "\e045";
}

.icon-pencil-2:before {
  content: "\e046";
}

.icon-minus:before {
  content: "\e047";
}

.icon-equals:before {
  content: "\e048";
}

.icon-list-2:before {
  content: "\e049";
}

.icon-flag:before {
  content: "\e04a";
}

.icon-info:before {
  content: "\e04b";
}

.icon-question:before {
  content: "\e04c";
}

.icon-chat:before {
  content: "\e04d";
}

.icon-clock:before {
  content: "\e04e";
}

.icon-calendar:before {
  content: "\e04f";
}

.icon-sun:before {
  content: "\e050";
}

.icon-contrast:before {
  content: "\e051";
}

.icon-mobile:before {
  content: "\e052";
}

.icon-download:before {
  content: "\e053";
}

.icon-puzzle:before {
  content: "\e054";
}

.icon-music:before {
  content: "\e055";
}

.icon-scissors:before {
  content: "\e056";
}

.icon-bookmark:before {
  content: "\e057";
}

.icon-anchor:before {
  content: "\e058";
}

.icon-checkmark:before {
  content: "\e059";
}

.icon-phone-2:before {
  content: "\e05a";
}

.icon-mobile-2:before {
  content: "\e05b";
}

.icon-mouse:before {
  content: "\e05c";
}

.icon-directions-2:before {
  content: "\e05d";
}

.icon-mail-2:before {
  content: "\e05e";
}

.icon-paperplane:before {
  content: "\e05f";
}

.icon-pencil-3:before {
  content: "\e060";
}

.icon-feather:before {
  content: "\e061";
}

.icon-paperclip:before {
  content: "\e062";
}

.icon-drawer:before {
  content: "\e063";
}

.icon-reply:before {
  content: "\e064";
}

.icon-reply-all:before {
  content: "\e065";
}

.icon-forward-2:before {
  content: "\e066";
}

.icon-user-2:before {
  content: "\e067";
}

.icon-users-2:before {
  content: "\e068";
}

.icon-user-add:before {
  content: "\e069";
}

.icon-vcard:before {
  content: "\e06a";
}

.icon-export-2:before {
  content: "\e06b";
}

.icon-location-2:before {
  content: "\e06c";
}

.icon-map:before {
  content: "\e06d";
}

.icon-compass-2:before {
  content: "\e06e";
}

.icon-location-3:before {
  content: "\e06f";
}

.icon-target:before {
  content: "\e070";
}

.icon-share:before {
  content: "\e071";
}

.icon-sharable:before {
  content: "\e072";
}

.icon-heart-2:before {
  content: "\e073";
}

.icon-heart-3:before {
  content: "\e074";
}

.icon-star-2:before {
  content: "\e075";
}

.icon-star-3:before {
  content: "\e076";
}

.icon-thumbs-up-2:before {
  content: "\e077";
}

.icon-thumbs-down-2:before {
  content: "\e078";
}

.icon-chat-2:before {
  content: "\e079";
}

.icon-comment-2:before {
  content: "\e07a";
}

.icon-quote:before {
  content: "\e07b";
}

.icon-house:before {
  content: "\e07c";
}

.icon-popup:before {
  content: "\e07d";
}

.icon-search-2:before {
  content: "\e07e";
}

.icon-flashlight:before {
  content: "\e07f";
}

.icon-printer:before {
  content: "\e080";
}

.icon-bell:before {
  content: "\e081";
}

.icon-link:before {
  content: "\e082";
}

.icon-flag-2:before {
  content: "\e083";
}

.icon-cog-2:before {
  content: "\e084";
}

.icon-tools:before {
  content: "\e085";
}

.icon-trophy:before {
  content: "\e086";
}

.icon-tag-2:before {
  content: "\e087";
}

.icon-camera-2:before {
  content: "\e088";
}

.icon-megaphone:before {
  content: "\e089";
}

.icon-moon:before {
  content: "\e08a";
}

.icon-palette:before {
  content: "\e08b";
}

.icon-leaf:before {
  content: "\e08c";
}

.icon-music-2:before {
  content: "\e08d";
}

.icon-music-3:before {
  content: "\e08e";
}

.icon-new:before {
  content: "\e08f";
}

.icon-graduation:before {
  content: "\e090";
}

.icon-book:before {
  content: "\e091";
}

.icon-newspaper:before {
  content: "\e092";
}

.icon-bag:before {
  content: "\e093";
}

.icon-airplane:before {
  content: "\e094";
}

.icon-lifebuoy:before {
  content: "\e095";
}

.icon-eye-2:before {
  content: "\e096";
}

.icon-clock-2:before {
  content: "\e097";
}

.icon-microphone-2:before {
  content: "\e098";
}

.icon-calendar-2:before {
  content: "\e099";
}

.icon-bolt:before {
  content: "\e09a";
}

.icon-thunder:before {
  content: "\e09b";
}

.icon-droplet:before {
  content: "\e09c";
}

.icon-cd:before {
  content: "\e09d";
}

.icon-briefcase:before {
  content: "\e09e";
}

.icon-air:before {
  content: "\e09f";
}

.icon-hourglass:before {
  content: "\e0a0";
}

.icon-gauge:before {
  content: "\e0a1";
}

.icon-language:before {
  content: "\e0a2";
}

.icon-network:before {
  content: "\e0a3";
}

.icon-key-2:before {
  content: "\e0a4";
}

.icon-battery-2:before {
  content: "\e0a5";
}

.icon-bucket:before {
  content: "\e0a6";
}

.icon-magnet:before {
  content: "\e0a7";
}

.icon-drive:before {
  content: "\e0a8";
}

.icon-cup:before {
  content: "\e0a9";
}

.icon-rocket:before {
  content: "\e0aa";
}

.icon-brush:before {
  content: "\e0ab";
}

.icon-suitcase:before {
  content: "\e0ac";
}

.icon-cone:before {
  content: "\e0ad";
}

.icon-earth:before {
  content: "\e0ae";
}

.icon-keyboard:before {
  content: "\e0af";
}

.icon-browser:before {
  content: "\e0b0";
}

.icon-publish:before {
  content: "\e0b1";
}

.icon-progress-3:before {
  content: "\e0b2";
}

.icon-progress-2:before {
  content: "\e0b3";
}

.icon-brogress-1:before {
  content: "\e0b4";
}

.icon-progress-0:before {
  content: "\e0b5";
}

.icon-sun-2:before {
  content: "\e0b6";
}

.icon-sun-3:before {
  content: "\e0b7";
}

.icon-adjust:before {
  content: "\e0b8";
}

.icon-code:before {
  content: "\e0b9";
}

.icon-screen:before {
  content: "\e0ba";
}

.icon-infinity-2:before {
  content: "\e0bb";
}

.icon-light-bulb:before {
  content: "\e0bc";
}

.icon-credit-card:before {
  content: "\e0bd";
}

.icon-database:before {
  content: "\e0be";
}

.icon-voicemail:before {
  content: "\e0bf";
}

.icon-clipboard:before {
  content: "\e0c0";
}

.icon-cart:before {
  content: "\e0c1";
}

.icon-box:before {
  content: "\e0c2";
}

.icon-ticket:before {
  content: "\e0c3";
}

.icon-rss:before {
  content: "\e0c4";
}

.icon-signal:before {
  content: "\e0c5";
}

.icon-thermometer:before {
  content: "\e0c6";
}

.icon-droplets:before {
  content: "\e0c7";
}

.icon-untitled:before {
  content: "\e0c8";
}

.icon-statistics:before {
  content: "\e0c9";
}

.icon-pie:before {
  content: "\e0ca";
}

.icon-bars-2:before {
  content: "\e0cb";
}

.icon-graph:before {
  content: "\e0cc";
}

.icon-lock:before {
  content: "\e0cd";
}

.icon-lock-open:before {
  content: "\e0ce";
}

.icon-logout:before {
  content: "\e0cf";
}

.icon-login:before {
  content: "\e0d0";
}

.icon-checkmark-2:before {
  content: "\e0d1";
}

.icon-cross-2:before {
  content: "\e0d2";
}

.icon-minus-2:before {
  content: "\e0d3";
}

.icon-plus-2:before {
  content: "\e0d4";
}

.icon-cross-3:before {
  content: "\e0d5";
}

.icon-minus-3:before {
  content: "\e0d6";
}

.icon-plus-3:before {
  content: "\e0d7";
}

.icon-cross-4:before {
  content: "\e0d8";
}

.icon-minus-4:before {
  content: "\e0d9";
}

.icon-plus-4:before {
  content: "\e0da";
}

.icon-erase:before {
  content: "\e0db";
}

.icon-blocked:before {
  content: "\e0dc";
}

.icon-info-2:before {
  content: "\e0dd";
}

.icon-info-3:before {
  content: "\e0de";
}

.icon-question-2:before {
  content: "\e0df";
}

.icon-help:before {
  content: "\e0e0";
}

.icon-warning-2:before {
  content: "\e0e1";
}

.icon-cycle:before {
  content: "\e0e2";
}

.icon-cw:before {
  content: "\e0e3";
}

.icon-ccw:before {
  content: "\e0e4";
}

.icon-shuffle-2:before {
  content: "\e0e5";
}

.icon-arrow:before {
  content: "\e0e6";
}

.icon-arrow-2:before {
  content: "\e0e7";
}

.icon-retweet:before {
  content: "\e0e8";
}

.icon-loop-2:before {
  content: "\e0e9";
}

.icon-history:before {
  content: "\e0ea";
}

.icon-back-2:before {
  content: "\e0eb";
}

.icon-switch:before {
  content: "\e0ec";
}

.icon-list-3:before {
  content: "\e0ed";
}

.icon-add-to-list:before {
  content: "\e0ee";
}

.icon-layout:before {
  content: "\e0ef";
}

.icon-list-4:before {
  content: "\e0f0";
}

.icon-text:before {
  content: "\e0f1";
}

.icon-text-2:before {
  content: "\e0f2";
}

.icon-document:before {
  content: "\e0f3";
}

.icon-docs:before {
  content: "\e0f4";
}

.icon-landscape:before {
  content: "\e0f5";
}

.icon-pictures:before {
  content: "\e0f6";
}

.icon-video:before {
  content: "\e0f7";
}

.icon-music-4:before {
  content: "\e0f8";
}

.icon-folder:before {
  content: "\e0f9";
}

.icon-archive:before {
  content: "\e0fa";
}

.icon-trash:before {
  content: "\e0fb";
}

.icon-upload:before {
  content: "\e0fc";
}

.icon-download-2:before {
  content: "\e0fd";
}

.icon-disk:before {
  content: "\e0fe";
}

.icon-install:before {
  content: "\e0ff";
}

.icon-cloud:before {
  content: "\e100";
}

.icon-upload-2:before {
  content: "\e101";
}

.icon-bookmark-2:before {
  content: "\e102";
}

.icon-bookmarks:before {
  content: "\e103";
}

.icon-book-2:before {
  content: "\e104";
}

.icon-play:before {
  content: "\e105";
}

.icon-pause:before {
  content: "\e106";
}

.icon-record:before {
  content: "\e107";
}

.icon-stop:before {
  content: "\e108";
}

.icon-next:before {
  content: "\e109";
}

.icon-previous:before {
  content: "\e10a";
}

.icon-first:before {
  content: "\e10b";
}

.icon-last:before {
  content: "\e10c";
}

.icon-resize-enlarge:before {
  content: "\e10d";
}

.icon-resize-shrink:before {
  content: "\e10e";
}

.icon-volume-2:before {
  content: "\e10f";
}

.icon-sound:before {
  content: "\e110";
}

.icon-mute-2:before {
  content: "\e111";
}

.icon-flow-cascade:before {
  content: "\e112";
}

.icon-flow-branch:before {
  content: "\e113";
}

.icon-flow-tree:before {
  content: "\e114";
}

.icon-flow-line:before {
  content: "\e115";
}

.icon-flow-parallel:before {
  content: "\e116";
}

.icon-arrow-left-3:before {
  content: "\e117";
}

.icon-arrow-down-2:before {
  content: "\e118";
}

.icon-arrow-up--upload:before {
  content: "\e119";
}

.icon-arrow-right-3:before {
  content: "\e11a";
}

.icon-arrow-left-4:before {
  content: "\e11b";
}

.icon-arrow-down-3:before {
  content: "\e11c";
}

.icon-arrow-up-2:before {
  content: "\e11d";
}

.icon-arrow-right-4:before {
  content: "\e11e";
}

.icon-arrow-left-5:before {
  content: "\e11f";
}

.icon-arrow-down-4:before {
  content: "\e120";
}

.icon-arrow-up-3:before {
  content: "\e121";
}

.icon-arrow-right-5:before {
  content: "\e122";
}

.icon-arrow-left-6:before {
  content: "\e123";
}

.icon-arrow-down-5:before {
  content: "\e124";
}

.icon-arrow-up-4:before {
  content: "\e125";
}

.icon-arrow-right-6:before {
  content: "\e126";
}

.icon-arrow-left-7:before {
  content: "\e127";
}

.icon-arrow-down-6:before {
  content: "\e128";
}

.icon-arrow-up-5:before {
  content: "\e129";
}

.icon-arrow-right-7:before {
  content: "\e12a";
}

.icon-arrow-left-8:before {
  content: "\e12b";
}

.icon-arrow-down-7:before {
  content: "\e12c";
}

.icon-arrow-up-6:before {
  content: "\e12d";
}

.icon-arrow-right-8:before {
  content: "\e12e";
}

.icon-arrow-left-9:before {
  content: "\e12f";
}

.icon-arrow-down-8:before {
  content: "\e130";
}

.icon-arrow-up-7:before {
  content: "\e131";
}

.icon-untitled-2:before {
  content: "\e132";
}

.icon-arrow-left-10:before {
  content: "\e133";
}

.icon-arrow-down-9:before {
  content: "\e134";
}

.icon-arrow-up-8:before {
  content: "\e135";
}

.icon-arrow-right-9:before {
  content: "\e136";
}

.icon-menu:before {
  content: "\e137";
}

.icon-ellipsis:before {
  content: "\e138";
}

.icon-dots:before {
  content: "\e139";
}

.icon-dot:before {
  content: "\e13a";
}

.icon-cc:before {
  content: "\e13b";
}

.icon-cc-by:before {
  content: "\e13c";
}

.icon-cc-nc:before {
  content: "\e13d";
}

.icon-cc-nc-eu:before {
  content: "\e13e";
}

.icon-cc-nc-jp:before {
  content: "\e13f";
}

.icon-cc-sa:before {
  content: "\e140";
}

.icon-cc-nd:before {
  content: "\e141";
}

.icon-cc-pd:before {
  content: "\e142";
}

.icon-cc-zero:before {
  content: "\e143";
}

.icon-cc-share:before {
  content: "\e144";
}

.icon-cc-share-2:before {
  content: "\e145";
}

.icon-daniel-bruce:before {
  content: "\e146";
}

.icon-daniel-bruce-2:before {
  content: "\e147";
}

.icon-github:before {
  content: "\e148";
}

.icon-github-2:before {
  content: "\e149";
}

.icon-flickr:before {
  content: "\e14a";
}

.icon-flickr-2:before {
  content: "\e14b";
}

.icon-vimeo:before {
  content: "\e14c";
}

.icon-vimeo-2:before {
  content: "\e14d";
}

.icon-twitter:before {
  content: "\e14e";
}

.icon-twitter-2:before {
  content: "\e14f";
}

.icon-facebook:before {
  content: "\e150";
}

.icon-facebook-2:before {
  content: "\e151";
}

.icon-facebook-3:before {
  content: "\e152";
}

.icon-googleplus:before {
  content: "\e153";
}

.icon-googleplus-2:before {
  content: "\e154";
}

.icon-pinterest:before {
  content: "\e155";
}

.icon-pinterest-2:before {
  content: "\e156";
}

.icon-tumblr:before {
  content: "\e157";
}

.icon-tumblr-2:before {
  content: "\e158";
}

.icon-linkedin:before {
  content: "\e159";
}

.icon-linkedin-2:before {
  content: "\e15a";
}

.icon-dribbble:before {
  content: "\e15b";
}

.icon-dribbble-2:before {
  content: "\e15c";
}

.icon-stumbleupon:before {
  content: "\e15d";
}

.icon-stumbleupon-2:before {
  content: "\e15e";
}

.icon-lastfm:before {
  content: "\e15f";
}

.icon-lastfm-2:before {
  content: "\e160";
}

.icon-rdio:before {
  content: "\e161";
}

.icon-rdio-2:before {
  content: "\e162";
}

.icon-spotify:before {
  content: "\e163";
}

.icon-spotify-2:before {
  content: "\e164";
}

.icon-qq:before {
  content: "\e165";
}

.icon-instagram:before {
  content: "\e166";
}

.icon-dropbox:before {
  content: "\e167";
}

.icon-evernote:before {
  content: "\e168";
}

.icon-flattr:before {
  content: "\e169";
}

.icon-skype:before {
  content: "\e16a";
}

.icon-skype-2:before {
  content: "\e16b";
}

.icon-renren:before {
  content: "\e16c";
}

.icon-sina-weibo:before {
  content: "\e16d";
}

.icon-paypal:before {
  content: "\e16e";
}

.icon-picasa:before {
  content: "\e16f";
}

.icon-soundcloud:before {
  content: "\e170";
}

.icon-mixi:before {
  content: "\e171";
}

.icon-behance:before {
  content: "\e172";
}

.icon-circles:before {
  content: "\e173";
}

.icon-vk:before {
  content: "\e174";
}

.icon-smashing:before {
  content: "\e175";
}

.icon-home-2:before {
  content: "\e176";
}

.icon-home-3:before {
  content: "\e177";
}

.icon-home-4:before {
  content: "\e178";
}

.icon-office:before {
  content: "\e179";
}

.icon-newspaper-2:before {
  content: "\e17a";
}

.icon-pencil-4:before {
  content: "\e17b";
}

.icon-pencil-5:before {
  content: "\e17c";
}

.icon-quill:before {
  content: "\e17d";
}

.icon-pen:before {
  content: "\e17e";
}

.icon-blog:before {
  content: "\e17f";
}

.icon-droplet-2:before {
  content: "\e180";
}

.icon-paint-format:before {
  content: "\e181";
}

.icon-image:before {
  content: "\e182";
}

.icon-image-2:before {
  content: "\e183";
}

.icon-images:before {
  content: "\e184";
}

.icon-camera-3:before {
  content: "\e185";
}

.icon-music-5:before {
  content: "\e186";
}

.icon-headphones:before {
  content: "\e187";
}

.icon-play-2:before {
  content: "\e188";
}

.icon-film:before {
  content: "\e189";
}

.icon-camera-4:before {
  content: "\e18a";
}

.icon-dice:before {
  content: "\e18b";
}

.icon-pacman:before {
  content: "\e18c";
}

.icon-spades:before {
  content: "\e18d";
}

.icon-clubs:before {
  content: "\e18e";
}

.icon-diamonds:before {
  content: "\e18f";
}

.icon-pawn:before {
  content: "\e190";
}

.icon-bullhorn:before {
  content: "\e191";
}

.icon-connection:before {
  content: "\e192";
}

.icon-podcast:before {
  content: "\e193";
}

.icon-feed-2:before {
  content: "\e194";
}

.icon-book-3:before {
  content: "\e195";
}

.icon-books:before {
  content: "\e196";
}

.icon-library:before {
  content: "\e197";
}

.icon-file:before {
  content: "\e198";
}

.icon-profile:before {
  content: "\e199";
}

.icon-file-2:before {
  content: "\e19a";
}

.icon-file-3:before {
  content: "\e19b";
}

.icon-file-4:before {
  content: "\e19c";
}

.icon-copy:before {
  content: "\e19d";
}

.icon-copy-2:before {
  content: "\e19e";
}

.icon-copy-3:before {
  content: "\e19f";
}

.icon-paste:before {
  content: "\e1a0";
}

.icon-paste-2:before {
  content: "\e1a1";
}

.icon-paste-3:before {
  content: "\e1a2";
}

.icon-stack:before {
  content: "\e1a3";
}

.icon-folder-2:before {
  content: "\e1a4";
}

.icon-folder-open:before {
  content: "\e1a5";
}

.icon-tag-3:before {
  content: "\e1a6";
}

.icon-tags:before {
  content: "\e1a7";
}

.icon-barcode:before {
  content: "\e1a8";
}

.icon-qrcode:before {
  content: "\e1a9";
}

.icon-ticket-2:before {
  content: "\e1aa";
}

.icon-cart-2:before {
  content: "\e1ab";
}

.icon-cart-3:before {
  content: "\e1ac";
}

.icon-cart-4:before {
  content: "\e1ad";
}

.icon-coin:before {
  content: "\e1ae";
}

.icon-credit:before {
  content: "\e1af";
}

.icon-calculate:before {
  content: "\e1b0";
}

.icon-support:before {
  content: "\e1b1";
}

.icon-phone-3:before {
  content: "\e1b2";
}

.icon-phone-hang-up:before {
  content: "\e1b3";
}

.icon-address-book:before {
  content: "\e1b4";
}

.icon-notebook:before {
  content: "\e1b5";
}

.icon-envelop:before {
  content: "\e1b6";
}

.icon-pushpin:before {
  content: "\e1b7";
}

.icon-location-4:before {
  content: "\e1b8";
}

.icon-location-5:before {
  content: "\e1b9";
}

.icon-compass-3:before {
  content: "\e1ba";
}

.icon-map-2:before {
  content: "\e1bb";
}

.icon-map-3:before {
  content: "\e1bc";
}

.icon-history-2:before {
  content: "\e1bd";
}

.icon-clock-3:before {
  content: "\e1be";
}

.icon-clock-4:before {
  content: "\e1bf";
}

.icon-alarm:before {
  content: "\e1c0";
}

.icon-alarm-2:before {
  content: "\e1c1";
}

.icon-bell-2:before {
  content: "\e1c2";
}

.icon-stopwatch:before {
  content: "\e1c3";
}

.icon-calendar-3:before {
  content: "\e1c4";
}

.icon-calendar-4:before {
  content: "\e1c5";
}

.icon-print:before {
  content: "\e1c6";
}

.icon-keyboard-2:before {
  content: "\e1c7";
}

.icon-screen-2:before {
  content: "\e1c8";
}

.icon-laptop:before {
  content: "\e1c9";
}

.icon-mobile-3:before {
  content: "\e1ca";
}

.icon-mobile-4:before {
  content: "\e1cb";
}

.icon-tablet:before {
  content: "\e1cc";
}

.icon-tv:before {
  content: "\e1cd";
}

.icon-cabinet:before {
  content: "\e1ce";
}

.icon-drawer-2:before {
  content: "\e1cf";
}

.icon-drawer-3:before {
  content: "\e1d0";
}

.icon-drawer-4:before {
  content: "\e1d1";
}

.icon-box-add:before {
  content: "\e1d2";
}

.icon-box-remove:before {
  content: "\e1d3";
}

.icon-download-3:before {
  content: "\e1d4";
}

.icon-upload-3:before {
  content: "\e1d5";
}

.icon-disk-2:before {
  content: "\e1d6";
}

.icon-storage:before {
  content: "\e1d7";
}

.icon-undo:before {
  content: "\e1d8";
}

.icon-redo:before {
  content: "\e1d9";
}

.icon-flip:before {
  content: "\e1da";
}

.icon-flip-2:before {
  content: "\e1db";
}

.icon-undo-2:before {
  content: "\e1dc";
}

.icon-redo-2:before {
  content: "\e1dd";
}

.icon-forward-3:before {
  content: "\e1de";
}

.icon-reply-2:before {
  content: "\e1df";
}

.icon-bubble:before {
  content: "\e1e0";
}

.icon-bubbles:before {
  content: "\e1e1";
}

.icon-bubbles-2:before {
  content: "\e1e2";
}

.icon-bubble-2:before {
  content: "\e1e3";
}

.icon-bubbles-3:before {
  content: "\e1e4";
}

.icon-bubbles-4:before {
  content: "\e1e5";
}

.icon-user-3:before {
  content: "\e1e6";
}

.icon-users-3:before {
  content: "\e1e7";
}

.icon-user-4:before {
  content: "\e1e8";
}

.icon-users-4:before {
  content: "\e1e9";
}

.icon-user-5:before {
  content: "\e1ea";
}

.icon-user-6:before {
  content: "\e1eb";
}

.icon-quotes-left:before {
  content: "\e1ec";
}

.icon-busy:before {
  content: "\e1ed";
}

.icon-spinner:before {
  content: "\e1ee";
}

.icon-spinner-2:before {
  content: "\e1ef";
}

.icon-spinner-3:before {
  content: "\e1f0";
}

.icon-spinner-4:before {
  content: "\e1f1";
}

.icon-spinner-5:before {
  content: "\e1f2";
}

.icon-spinner-6:before {
  content: "\e1f3";
}

.icon-binoculars:before {
  content: "\e1f4";
}

.icon-search-3:before {
  content: "\e1f5";
}

.icon-zoom-in-2:before {
  content: "\e1f6";
}

.icon-zoom-out-2:before {
  content: "\e1f7";
}

.icon-expand-2:before {
  content: "\e1f8";
}

.icon-contract:before {
  content: "\e1f9";
}

.icon-expand-3:before {
  content: "\e1fa";
}

.icon-contract-2:before {
  content: "\e1fb";
}

.icon-key-3:before {
  content: "\e1fc";
}

.icon-key-4:before {
  content: "\e1fd";
}

.icon-lock-2:before {
  content: "\e1fe";
}

.icon-lock-3:before {
  content: "\e1ff";
}

.icon-unlocked-2:before {
  content: "\e200";
}

.icon-wrench-2:before {
  content: "\e201";
}

.icon-settings:before {
  content: "\e202";
}

.icon-equalizer:before {
  content: "\e203";
}

.icon-cog-3:before {
  content: "\e204";
}

.icon-cogs:before {
  content: "\e205";
}

.icon-cog-4:before {
  content: "\e206";
}

.icon-hammer:before {
  content: "\e207";
}

.icon-wand:before {
  content: "\e208";
}

.icon-aid:before {
  content: "\e209";
}

.icon-bug:before {
  content: "\e20a";
}

.icon-pie-2:before {
  content: "\e20b";
}

.icon-stats-2:before {
  content: "\e20c";
}

.icon-bars-3:before {
  content: "\e20d";
}

.icon-bars-4:before {
  content: "\e20e";
}

.icon-gift:before {
  content: "\e20f";
}

.icon-trophy-2:before {
  content: "\e210";
}

.icon-glass:before {
  content: "\e211";
}

.icon-mug:before {
  content: "\e212";
}

.icon-food:before {
  content: "\e213";
}

.icon-leaf-2:before {
  content: "\e214";
}

.icon-rocket-2:before {
  content: "\e215";
}

.icon-meter:before {
  content: "\e216";
}

.icon-meter2:before {
  content: "\e217";
}

.icon-dashboard:before {
  content: "\e218";
}

.icon-hammer-2:before {
  content: "\e219";
}

.icon-fire:before {
  content: "\e21a";
}

.icon-lab:before {
  content: "\e21b";
}

.icon-magnet-2:before {
  content: "\e21c";
}

.icon-remove:before {
  content: "\e21d";
}

.icon-remove-2:before {
  content: "\e21e";
}

.icon-briefcase-2:before {
  content: "\e21f";
}

.icon-airplane-2:before {
  content: "\e220";
}

.icon-truck:before {
  content: "\e221";
}

.icon-road:before {
  content: "\e222";
}

.icon-accessibility:before {
  content: "\e223";
}

.icon-target-2:before {
  content: "\e224";
}

.icon-shield:before {
  content: "\e225";
}

.icon-lightning:before {
  content: "\e226";
}

.icon-switch-2:before {
  content: "\e227";
}

.icon-power-cord:before {
  content: "\e228";
}

.icon-signup:before {
  content: "\e229";
}

.icon-list-5:before {
  content: "\e22a";
}

.icon-list-6:before {
  content: "\e22b";
}

.icon-numbered-list:before {
  content: "\e22c";
}

.icon-menu-2:before {
  content: "\e22d";
}

.icon-menu-3:before {
  content: "\e22e";
}

.icon-tree:before {
  content: "\e22f";
}

.icon-cloud-2:before {
  content: "\e230";
}

.icon-cloud-download:before {
  content: "\e231";
}

.icon-cloud-upload:before {
  content: "\e232";
}

.icon-download-4:before {
  content: "\e233";
}

.icon-upload-4:before {
  content: "\e234";
}

.icon-download-5:before {
  content: "\e235";
}

.icon-upload-5:before {
  content: "\e236";
}

.icon-globe-3:before {
  content: "\e237";
}

.icon-earth-2:before {
  content: "\e238";
}

.icon-link-2:before {
  content: "\e239";
}

.icon-flag-3:before {
  content: "\e23a";
}

.icon-attachment:before {
  content: "\e23b";
}

.icon-eye-3:before {
  content: "\e23c";
}

.icon-eye-blocked:before {
  content: "\e23d";
}

.icon-eye-4:before {
  content: "\e23e";
}

.icon-bookmark-3:before {
  content: "\e23f";
}

.icon-bookmarks-2:before {
  content: "\e240";
}

.icon-brightness-medium:before {
  content: "\e241";
}

.icon-brightness-contrast:before {
  content: "\e242";
}

.icon-contrast-2:before {
  content: "\e243";
}

.icon-star-4:before {
  content: "\e244";
}

.icon-star-5:before {
  content: "\e245";
}

.icon-star-6:before {
  content: "\e246";
}

.icon-heart-4:before {
  content: "\e247";
}

.icon-heart-5:before {
  content: "\e248";
}

.icon-heart-broken:before {
  content: "\e249";
}

.icon-thumbs-up-3:before {
  content: "\e24a";
}

.icon-thumbs-up-4:before {
  content: "\e24b";
}

.icon-happy:before {
  content: "\e24c";
}

.icon-happy-2:before {
  content: "\e24d";
}

.icon-smiley:before {
  content: "\e24e";
}

.icon-smiley-2:before {
  content: "\e24f";
}

.icon-tongue:before {
  content: "\e250";
}

.icon-tongue-2:before {
  content: "\e251";
}

.icon-sad:before {
  content: "\e252";
}

.icon-sad-2:before {
  content: "\e253";
}

.icon-wink:before {
  content: "\e254";
}

.icon-wink-2:before {
  content: "\e255";
}

.icon-grin:before {
  content: "\e256";
}

.icon-grin-2:before {
  content: "\e257";
}

.icon-cool:before {
  content: "\e258";
}

.icon-cool-2:before {
  content: "\e259";
}

.icon-angry:before {
  content: "\e25a";
}

.icon-angry-2:before {
  content: "\e25b";
}

.icon-evil:before {
  content: "\e25c";
}

.icon-evil-2:before {
  content: "\e25d";
}

.icon-shocked:before {
  content: "\e25e";
}

.icon-shocked-2:before {
  content: "\e25f";
}

.icon-confused:before {
  content: "\e260";
}

.icon-confused-2:before {
  content: "\e261";
}

.icon-neutral:before {
  content: "\e262";
}

.icon-neutral-2:before {
  content: "\e263";
}

.icon-wondering:before {
  content: "\e264";
}

.icon-wondering-2:before {
  content: "\e265";
}

.icon-point-up:before {
  content: "\e266";
}

.icon-point-right:before {
  content: "\e267";
}

.icon-point-down:before {
  content: "\e268";
}

.icon-point-left:before {
  content: "\e269";
}

.icon-warning-3:before {
  content: "\e26a";
}

.icon-notification:before {
  content: "\e26b";
}

.icon-question-3:before {
  content: "\e26c";
}

.icon-info-4:before {
  content: "\e26d";
}

.icon-info-5:before {
  content: "\e26e";
}

.icon-blocked-2:before {
  content: "\e26f";
}

.icon-cancel-circle:before {
  content: "\e270";
}

.icon-checkmark-circle:before {
  content: "\e271";
}

.icon-spam:before {
  content: "\e272";
}

.icon-close:before {
  content: "\e273";
}

.icon-checkmark-3:before {
  content: "\e274";
}

.icon-checkmark-4:before {
  content: "\e275";
}

.icon-spell-check:before {
  content: "\e276";
}

.icon-minus-5:before {
  content: "\e277";
}

.icon-plus-5:before {
  content: "\e278";
}

.icon-enter:before {
  content: "\e279";
}

.icon-exit:before {
  content: "\e27a";
}

.icon-play-3:before {
  content: "\e27b";
}

.icon-pause-2:before {
  content: "\e27c";
}

.icon-stop-2:before {
  content: "\e27d";
}

.icon-backward:before {
  content: "\e27e";
}

.icon-forward-4:before {
  content: "\e27f";
}

.icon-play-4:before {
  content: "\e280";
}

.icon-pause-3:before {
  content: "\e281";
}

.icon-stop-3:before {
  content: "\e282";
}

.icon-backward-2:before {
  content: "\e283";
}

.icon-forward-5:before {
  content: "\e284";
}

.icon-first-2:before {
  content: "\e285";
}

.icon-last-2:before {
  content: "\e286";
}

.icon-previous-2:before {
  content: "\e287";
}

.icon-next-2:before {
  content: "\e288";
}

.icon-eject-2:before {
  content: "\e289";
}

.icon-volume-high:before {
  content: "\e28a";
}

.icon-volume-medium:before {
  content: "\e28b";
}

.icon-volume-low:before {
  content: "\e28c";
}

.icon-volume-mute:before {
  content: "\e28d";
}

.icon-volume-mute-2:before {
  content: "\e28e";
}

.icon-volume-increase:before {
  content: "\e28f";
}

.icon-volume-decrease:before {
  content: "\e290";
}

.icon-loop-3:before {
  content: "\e291";
}

.icon-loop-4:before {
  content: "\e292";
}

.icon-loop-5:before {
  content: "\e293";
}

.icon-shuffle-3:before {
  content: "\e294";
}

.icon-arrow-up-left:before {
  content: "\e295";
}

.icon-arrow-up-9:before {
  content: "\e296";
}

.icon-arrow-up-right:before {
  content: "\e297";
}

.icon-arrow-right-10:before {
  content: "\e298";
}

.icon-arrow-down-right:before {
  content: "\e299";
}

.icon-arrow-down-10:before {
  content: "\e29a";
}

.icon-arrow-down-left:before {
  content: "\e29b";
}

.icon-arrow-left-11:before {
  content: "\e29c";
}

.icon-arrow-up-left-2:before {
  content: "\e29d";
}

.icon-arrow-up-10:before {
  content: "\e29e";
}

.icon-arrow-up-right-2:before {
  content: "\e29f";
}

.icon-arrow-right-11:before {
  content: "\e2a0";
}

.icon-arrow-down-right-2:before {
  content: "\e2a1";
}

.icon-arrow-down-11:before {
  content: "\e2a2";
}

.icon-arrow-down-left-2:before {
  content: "\e2a3";
}

.icon-arrow-left-12:before {
  content: "\e2a4";
}

.icon-arrow-up-left-3:before {
  content: "\e2a5";
}

.icon-arrow-up-11:before {
  content: "\e2a6";
}

.icon-arrow-up-right-3:before {
  content: "\e2a7";
}

.icon-arrow-right-12:before {
  content: "\e2a8";
}

.icon-arrow-down-right-3:before {
  content: "\e2a9";
}

.icon-arrow-down-12:before {
  content: "\e2aa";
}

.icon-arrow-down-left-3:before {
  content: "\e2ab";
}

.icon-arrow-left-13:before {
  content: "\e2ac";
}

.icon-tab:before {
  content: "\e2ad";
}

.icon-checkbox-checked:before {
  content: "\e2ae";
}

.icon-checkbox-unchecked:before {
  content: "\e2af";
}

.icon-checkbox-partial:before {
  content: "\e2b0";
}

.icon-radio-checked:before {
  content: "\e2b1";
}

.icon-radio-unchecked:before {
  content: "\e2b2";
}

.icon-crop:before {
  content: "\e2b3";
}

.icon-scissors-2:before {
  content: "\e2b4";
}

.icon-filter:before {
  content: "\e2b5";
}

.icon-filter-2:before {
  content: "\e2b6";
}

.icon-font:before {
  content: "\e2b7";
}

.icon-text-height:before {
  content: "\e2b8";
}

.icon-text-width:before {
  content: "\e2b9";
}

.icon-bold:before {
  content: "\e2ba";
}

.icon-underline:before {
  content: "\e2bb";
}

.icon-italic:before {
  content: "\e2bc";
}

.icon-strikethrough:before {
  content: "\e2bd";
}

.icon-omega:before {
  content: "\e2be";
}

.icon-sigma:before {
  content: "\e2bf";
}

.icon-table:before {
  content: "\e2c0";
}

.icon-table-2:before {
  content: "\e2c1";
}

.icon-insert-template:before {
  content: "\e2c2";
}

.icon-pilcrow:before {
  content: "\e2c3";
}

.icon-left-to-right:before {
  content: "\e2c4";
}

.icon-right-to-left:before {
  content: "\e2c5";
}

.icon-paragraph-left:before {
  content: "\e2c6";
}

.icon-paragraph-center:before {
  content: "\e2c7";
}

.icon-paragraph-right:before {
  content: "\e2c8";
}

.icon-paragraph-justify:before {
  content: "\e2c9";
}

.icon-paragraph-left-2:before {
  content: "\e2ca";
}

.icon-paragraph-center-2:before {
  content: "\e2cb";
}

.icon-paragraph-right-2:before {
  content: "\e2cc";
}

.icon-paragraph-justify-2:before {
  content: "\e2cd";
}

.icon-indent-increase:before {
  content: "\e2ce";
}

.icon-indent-decrease:before {
  content: "\e2cf";
}

.icon-new-tab:before {
  content: "\e2d0";
}

.icon-embed:before {
  content: "\e2d1";
}

.icon-code-2:before {
  content: "\e2d2";
}

.icon-console:before {
  content: "\e2d3";
}

.icon-share-2:before {
  content: "\e2d4";
}

.icon-mail-3:before {
  content: "\e2d5";
}

.icon-mail-4:before {
  content: "\e2d6";
}

.icon-mail-5:before {
  content: "\e2d7";
}

.icon-mail-6:before {
  content: "\e2d8";
}

.icon-google:before {
  content: "\e2d9";
}

.icon-google-plus:before {
  content: "\e2da";
}

.icon-google-plus-2:before {
  content: "\e2db";
}

.icon-google-plus-3:before {
  content: "\e2dc";
}

.icon-google-plus-4:before {
  content: "\e2dd";
}

.icon-google-drive:before {
  content: "\e2de";
}

.icon-facebook-4:before {
  content: "\e2df";
}

.icon-facebook-5:before {
  content: "\e2e0";
}

.icon-facebook-6:before {
  content: "\e2e1";
}

.icon-instagram-2:before {
  content: "\e2e2";
}

.icon-twitter-3:before {
  content: "\e2e3";
}

.icon-twitter-4:before {
  content: "\e2e4";
}

.icon-twitter-5:before {
  content: "\e2e5";
}

.icon-feed-3:before {
  content: "\e2e6";
}

.icon-feed-4:before {
  content: "\e2e7";
}

.icon-feed-5:before {
  content: "\e2e8";
}

.icon-youtube:before {
  content: "\e2e9";
}

.icon-youtube-2:before {
  content: "\e2ea";
}

.icon-vimeo-3:before {
  content: "\e2eb";
}

.icon-vimeo2:before {
  content: "\e2ec";
}

.icon-vimeo-4:before {
  content: "\e2ed";
}

.icon-lanyrd:before {
  content: "\e2ee";
}

.icon-flickr-3:before {
  content: "\e2ef";
}

.icon-flickr-4:before {
  content: "\e2f0";
}

.icon-flickr-5:before {
  content: "\e2f1";
}

.icon-flickr-6:before {
  content: "\e2f2";
}

.icon-picassa:before {
  content: "\e2f3";
}

.icon-picassa-2:before {
  content: "\e2f4";
}

.icon-dribbble-3:before {
  content: "\e2f5";
}

.icon-dribbble-4:before {
  content: "\e2f6";
}

.icon-dribbble-5:before {
  content: "\e2f7";
}

.icon-forrst:before {
  content: "\e2f8";
}

.icon-forrst-2:before {
  content: "\e2f9";
}

.icon-deviantart:before {
  content: "\e2fa";
}

.icon-deviantart-2:before {
  content: "\e2fb";
}

.icon-steam:before {
  content: "\e2fc";
}

.icon-steam-2:before {
  content: "\e2fd";
}

.icon-github-3:before {
  content: "\e2fe";
}

.icon-github-4:before {
  content: "\e2ff";
}

.icon-github-5:before {
  content: "\e300";
}

.icon-github-6:before {
  content: "\e301";
}

.icon-github-7:before {
  content: "\e302";
}

.icon-wordpress:before {
  content: "\e303";
}

.icon-wordpress-2:before {
  content: "\e304";
}

.icon-joomla:before {
  content: "\e305";
}

.icon-blogger:before {
  content: "\e306";
}

.icon-blogger-2:before {
  content: "\e307";
}

.icon-tumblr-3:before {
  content: "\e308";
}

.icon-tumblr-4:before {
  content: "\e309";
}

.icon-yahoo:before {
  content: "\e30a";
}

.icon-tux:before {
  content: "\e30b";
}

.icon-apple:before {
  content: "\e30c";
}

.icon-finder:before {
  content: "\e30d";
}

.icon-android:before {
  content: "\e30e";
}

.icon-windows:before {
  content: "\e30f";
}

.icon-windows8:before {
  content: "\e310";
}

.icon-soundcloud-2:before {
  content: "\e311";
}

.icon-soundcloud-3:before {
  content: "\e312";
}

.icon-skype-3:before {
  content: "\e313";
}

.icon-reddit:before {
  content: "\e314";
}

.icon-linkedin-3:before {
  content: "\e315";
}

.icon-lastfm-3:before {
  content: "\e316";
}

.icon-lastfm-4:before {
  content: "\e317";
}

.icon-delicious:before {
  content: "\e318";
}

.icon-stumbleupon-3:before {
  content: "\e319";
}

.icon-stumbleupon-4:before {
  content: "\e31a";
}

.icon-stackoverflow:before {
  content: "\e31b";
}

.icon-pinterest-3:before {
  content: "\e31c";
}

.icon-pinterest-4:before {
  content: "\e31d";
}

.icon-xing:before {
  content: "\e31e";
}

.icon-xing-2:before {
  content: "\e31f";
}

.icon-flattr-2:before {
  content: "\e320";
}

.icon-foursquare:before {
  content: "\e321";
}

.icon-foursquare-2:before {
  content: "\e322";
}

.icon-paypal-2:before {
  content: "\e323";
}

.icon-paypal-3:before {
  content: "\e324";
}

.icon-paypal-4:before {
  content: "\e325";
}

.icon-yelp:before {
  content: "\e326";
}

.icon-libreoffice:before {
  content: "\e327";
}

.icon-file-pdf:before {
  content: "\e328";
}

.icon-file-openoffice:before {
  content: "\e329";
}

.icon-file-word:before {
  content: "\e32a";
}

.icon-file-excel:before {
  content: "\e32b";
}

.icon-file-zip:before {
  content: "\e32c";
}

.icon-file-powerpoint:before {
  content: "\e32d";
}

.icon-file-xml:before {
  content: "\e32e";
}

.icon-file-css:before {
  content: "\e32f";
}

.icon-html5:before {
  content: "\e330";
}

.icon-html5-2:before {
  content: "\e331";
}

.icon-css3:before {
  content: "\e332";
}

.icon-chrome:before {
  content: "\e333";
}

.icon-firefox:before {
  content: "\e334";
}

.icon-IE:before {
  content: "\e335";
}

.icon-opera:before {
  content: "\e336";
}

.icon-safari:before {
  content: "\e337";
}

.icon-IcoMoon:before {
  content: "\e338";
}

.icon-warning-4:before {
  content: "\e339";
}

.icon-cloud-3:before {
  content: "\e33a";
}

.icon-locked-2:before {
  content: "\e33b";
}

.icon-inbox:before {
  content: "\e33c";
}

.icon-comment-3:before {
  content: "\e33d";
}

.icon-mic:before {
  content: "\e33e";
}

.icon-envelope:before {
  content: "\e33f";
}

.icon-briefcase-3:before {
  content: "\e340";
}

.icon-cart-5:before {
  content: "\e341";
}

.icon-contrast-3:before {
  content: "\e342";
}

.icon-clock-5:before {
  content: "\e343";
}

.icon-user-7:before {
  content: "\e344";
}

.icon-cog-5:before {
  content: "\e345";
}

.icon-music-6:before {
  content: "\e346";
}

.icon-twitter-6:before {
  content: "\e347";
}

.icon-pencil-6:before {
  content: "\e348";
}

.icon-frame:before {
  content: "\e349";
}

.icon-switch-3:before {
  content: "\e34a";
}

.icon-star-7:before {
  content: "\e34b";
}

.icon-key-5:before {
  content: "\e34c";
}

.icon-chart-2:before {
  content: "\e34d";
}

.icon-apple-2:before {
  content: "\e34e";
}

.icon-file-5:before {
  content: "\e34f";
}

.icon-plus-6:before {
  content: "\e350";
}

.icon-minus-6:before {
  content: "\e351";
}

.icon-picture:before {
  content: "\e352";
}

.icon-folder-3:before {
  content: "\e353";
}

.icon-camera-5:before {
  content: "\e354";
}

.icon-search-4:before {
  content: "\e355";
}

.icon-dribbble-6:before {
  content: "\e356";
}

.icon-forrst-3:before {
  content: "\e357";
}

.icon-feed-6:before {
  content: "\e358";
}

.icon-blocked-3:before {
  content: "\e359";
}

.icon-target-3:before {
  content: "\e35a";
}

.icon-play-5:before {
  content: "\e35b";
}

.icon-pause-4:before {
  content: "\e35c";
}

.icon-bug-2:before {
  content: "\e35d";
}

.icon-console-2:before {
  content: "\e35e";
}

.icon-film-2:before {
  content: "\e35f";
}

.icon-type:before {
  content: "\e360";
}

.icon-home-5:before {
  content: "\e361";
}

.icon-earth-3:before {
  content: "\e362";
}

.icon-location-6:before {
  content: "\e363";
}

.icon-info-6:before {
  content: "\e364";
}

.icon-eye-5:before {
  content: "\e365";
}

.icon-heart-6:before {
  content: "\e366";
}

.icon-bookmark-4:before {
  content: "\e367";
}

.icon-wrench-3:before {
  content: "\e368";
}

.icon-calendar-5:before {
  content: "\e369";
}

.icon-window:before {
  content: "\e36a";
}

.icon-monitor:before {
  content: "\e36b";
}

.icon-mobile-5:before {
  content: "\e36c";
}

.icon-droplet-3:before {
  content: "\e36d";
}

.icon-mouse-2:before {
  content: "\e36e";
}

.icon-refresh-3:before {
  content: "\e36f";
}

.icon-location-7:before {
  content: "\e370";
}

.icon-tag-4:before {
  content: "\e371";
}

.icon-phone-4:before {
  content: "\e372";
}

.icon-star-8:before {
  content: "\e373";
}

.icon-pointer:before {
  content: "\e374";
}

.icon-thumbs-up-5:before {
  content: "\e375";
}

.icon-thumbs-down-3:before {
  content: "\e376";
}

.icon-headphones-2:before {
  content: "\e377";
}

.icon-move-2:before {
  content: "\e378";
}

.icon-checkmark-5:before {
  content: "\e379";
}

.icon-cancel-2:before {
  content: "\e37a";
}

.icon-skype-4:before {
  content: "\e37b";
}

.icon-gift-2:before {
  content: "\e37c";
}

.icon-cone-2:before {
  content: "\e37d";
}

.icon-alarm-3:before {
  content: "\e37e";
}

.icon-coffee:before {
  content: "\e37f";
}

.icon-basket:before {
  content: "\e380";
}

.icon-flag-4:before {
  content: "\e381";
}

.icon-ipod:before {
  content: "\e382";
}

.icon-trashcan-2:before {
  content: "\e383";
}

.icon-bolt-2:before {
  content: "\e384";
}

.icon-ampersand:before {
  content: "\e385";
}

.icon-compass-4:before {
  content: "\e386";
}

.icon-list-7:before {
  content: "\e387";
}

.icon-grid-2:before {
  content: "\e388";
}

.icon-volume-3:before {
  content: "\e389";
}

.icon-volume-4:before {
  content: "\e38a";
}

.icon-stats-3:before {
  content: "\e38b";
}

.icon-target-4:before {
  content: "\e38c";
}

.icon-forward-6:before {
  content: "\e38d";
}

.icon-paperclip-2:before {
  content: "\e38e";
}

.icon-keyboard-3:before {
  content: "\e38f";
}

.icon-crop-2:before {
  content: "\e390";
}

.icon-floppy:before {
  content: "\e391";
}

.icon-filter-3:before {
  content: "\e392";
}

.icon-trophy-3:before {
  content: "\e393";
}

.icon-diary:before {
  content: "\e394";
}

.icon-address-book-2:before {
  content: "\e395";
}

.icon-stop-4:before {
  content: "\e396";
}

.icon-smiley-3:before {
  content: "\e397";
}

.icon-shit:before {
  content: "\e398";
}

.icon-bookmark-5:before {
  content: "\e399";
}

.icon-camera-6:before {
  content: "\e39a";
}

.icon-lamp:before {
  content: "\e39b";
}

.icon-disk-3:before {
  content: "\e39c";
}

.icon-button:before {
  content: "\e39d";
}

.icon-database-2:before {
  content: "\e39e";
}

.icon-credit-card-2:before {
  content: "\e39f";
}

.icon-atom:before {
  content: "\e3a0";
}

.icon-winsows:before {
  content: "\e3a1";
}

.icon-target-5:before {
  content: "\e3a2";
}

.icon-battery-3:before {
  content: "\e3a3";
}

.icon-code-3:before {
  content: "\e3a4";
}

.icon-sunrise:before {
  content: "\e3a5";
}

.icon-sun-4:before {
  content: "\e3a6";
}

.icon-moon-2:before {
  content: "\e3a7";
}

.icon-sun-5:before {
  content: "\e3a8";
}

.icon-windy:before {
  content: "\e3a9";
}

.icon-wind:before {
  content: "\e3aa";
}

.icon-snowflake:before {
  content: "\e3ab";
}

.icon-cloudy:before {
  content: "\e3ac";
}

.icon-cloud-4:before {
  content: "\e3ad";
}

.icon-weather:before {
  content: "\e3ae";
}

.icon-weather-2:before {
  content: "\e3af";
}

.icon-weather-3:before {
  content: "\e3b0";
}

.icon-lines:before {
  content: "\e3b1";
}

.icon-cloud-5:before {
  content: "\e3b2";
}

.icon-lightning-2:before {
  content: "\e3b3";
}

.icon-lightning-3:before {
  content: "\e3b4";
}

.icon-rainy:before {
  content: "\e3b5";
}

.icon-rainy-2:before {
  content: "\e3b6";
}

.icon-windy-2:before {
  content: "\e3b7";
}

.icon-windy-3:before {
  content: "\e3b8";
}

.icon-snowy:before {
  content: "\e3b9";
}

.icon-snowy-2:before {
  content: "\e3ba";
}

.icon-snowy-3:before {
  content: "\e3bb";
}

.icon-weather-4:before {
  content: "\e3bc";
}

.icon-cloudy-2:before {
  content: "\e3bd";
}

.icon-cloud-6:before {
  content: "\e3be";
}

.icon-lightning-4:before {
  content: "\e3bf";
}

.icon-sun-6:before {
  content: "\e3c0";
}

.icon-moon-3:before {
  content: "\e3c1";
}

.icon-cloudy-3:before {
  content: "\e3c2";
}

.icon-cloud-7:before {
  content: "\e3c3";
}

.icon-cloud-8:before {
  content: "\e3c4";
}

.icon-lightning-5:before {
  content: "\e3c5";
}

.icon-rainy-3:before {
  content: "\e3c6";
}

.icon-rainy-4:before {
  content: "\e3c7";
}

.icon-windy-4:before {
  content: "\e3c8";
}

.icon-windy-5:before {
  content: "\e3c9";
}

.icon-snowy-4:before {
  content: "\e3ca";
}

.icon-snowy-5:before {
  content: "\e3cb";
}

.icon-weather-5:before {
  content: "\e3cc";
}

.icon-cloudy-4:before {
  content: "\e3cd";
}

.icon-lightning-6:before {
  content: "\e3ce";
}

.icon-thermometer-2:before {
  content: "\e3cf";
}

.icon-compass-5:before {
  content: "\e3d0";
}

.icon-none:before {
  content: "\e3d1";
}

.icon-Celsius:before {
  content: "\e3d2";
}

.icon-Fahrenheit:before {
  content: "\e3d3";
}

.icon-chat-3:before {
  content: "\e3d4";
}

.icon-chat-alt-stroke:before {
  content: "\e3d5";
}

.icon-chat-alt-fill:before {
  content: "\e3d6";
}

.icon-comment-alt1-stroke:before {
  content: "\e3d7";
}

.icon-comment-alt1-fill:before {
  content: "\e3d8";
}

.icon-comment-stroke:before {
  content: "\e3d9";
}

.icon-comment-fill:before {
  content: "\e3da";
}

.icon-comment-alt2-stroke:before {
  content: "\e3db";
}

.icon-comment-alt2-fill:before {
  content: "\e3dc";
}

.icon-checkmark-6:before {
  content: "\e3dd";
}

.icon-check-alt:before {
  content: "\e3de";
}

.icon-x:before {
  content: "\e3df";
}

.icon-x-altx-alt:before {
  content: "\e3e0";
}

.icon-denied:before {
  content: "\e3e1";
}

.icon-cursor:before {
  content: "\e3e2";
}

.icon-rss-2:before {
  content: "\e3e3";
}

.icon-rss-alt:before {
  content: "\e3e4";
}

.icon-wrench-4:before {
  content: "\e3e5";
}

.icon-dial:before {
  content: "\e3e6";
}

.icon-cog-6:before {
  content: "\e3e7";
}

.icon-calendar-6:before {
  content: "\e3e8";
}

.icon-calendar-alt-stroke:before {
  content: "\e3e9";
}

.icon-calendar-alt-fill:before {
  content: "\e3ea";
}

.icon-share-3:before {
  content: "\e3eb";
}

.icon-mail-7:before {
  content: "\e3ec";
}

.icon-heart-stroke:before {
  content: "\e3ed";
}

.icon-heart-fill:before {
  content: "\e3ee";
}

.icon-movie:before {
  content: "\e3ef";
}

.icon-document-alt-stroke:before {
  content: "\e3f0";
}

.icon-document-alt-fill:before {
  content: "\e3f1";
}

.icon-document-stroke:before {
  content: "\e3f2";
}

.icon-document-fill:before {
  content: "\e3f3";
}

.icon-plus-7:before {
  content: "\e3f4";
}

.icon-plus-alt:before {
  content: "\e3f5";
}

.icon-minus-7:before {
  content: "\e3f6";
}

.icon-minus-alt:before {
  content: "\e3f7";
}

.icon-pin-2:before {
  content: "\e3f8";
}

.icon-link-3:before {
  content: "\e3f9";
}

.icon-bolt-3:before {
  content: "\e3fa";
}

.icon-move-3:before {
  content: "\e3fb";
}

.icon-move-alt1:before {
  content: "\e3fc";
}

.icon-move-alt2:before {
  content: "\e3fd";
}

.icon-equalizer-2:before {
  content: "\e3fe";
}

.icon-award-fill:before {
  content: "\e3ff";
}

.icon-award-stroke:before {
  content: "\e400";
}

.icon-magnifying-glass:before {
  content: "\e401";
}

.icon-trash-stroke:before {
  content: "\e402";
}

.icon-trash-fill:before {
  content: "\e403";
}

.icon-beaker-alt:before {
  content: "\e404";
}

.icon-beaker:before {
  content: "\e405";
}

.icon-key-stroke:before {
  content: "\e406";
}

.icon-key-fill:before {
  content: "\e407";
}

.icon-new-window:before {
  content: "\e408";
}

.icon-lightbulb:before {
  content: "\e409";
}

.icon-spin-alt:before {
  content: "\e40a";
}

.icon-spin:before {
  content: "\e40b";
}

.icon-curved-arrow:before {
  content: "\e40c";
}

.icon-undo-3:before {
  content: "\e40d";
}

.icon-reload:before {
  content: "\e40e";
}

.icon-reload-alt:before {
  content: "\e40f";
}

.icon-loop-6:before {
  content: "\e410";
}

.icon-loop-alt1:before {
  content: "\e411";
}

.icon-loop-alt2:before {
  content: "\e412";
}

.icon-loop-alt3:before {
  content: "\e413";
}

.icon-loop-alt4:before {
  content: "\e414";
}

.icon-transfer:before {
  content: "\e415";
}

.icon-move-vertical:before {
  content: "\e416";
}

.icon-move-vertical-alt1:before {
  content: "\e417";
}

.icon-move-vertical-alt2:before {
  content: "\e418";
}

.icon-move-horizontal:before {
  content: "\e419";
}

.icon-move-horizontal-alt1:before {
  content: "\e41a";
}

.icon-move-horizontal-alt2:before {
  content: "\e41b";
}

.icon-arrow-left-14:before {
  content: "\e41c";
}

.icon-arrow-left-alt1:before {
  content: "\e41d";
}

.icon-arrow-left-alt2:before {
  content: "\e41e";
}

.icon-arrow-right-13:before {
  content: "\e41f";
}

.icon-arrow-right-alt1:before {
  content: "\e420";
}

.icon-arrow-right-alt2:before {
  content: "\e421";
}

.icon-arrow-up-12:before {
  content: "\e422";
}

.icon-arrow-up-alt1:before {
  content: "\e423";
}

.icon-arrow-up-alt2:before {
  content: "\e424";
}

.icon-arrow-down-13:before {
  content: "\e425";
}

.icon-arrow-down-alt1:before {
  content: "\e426";
}

.icon-arrow-down-alt2:before {
  content: "\e427";
}

.icon-cd-2:before {
  content: "\e428";
}

.icon-steering-wheel:before {
  content: "\e429";
}

.icon-microphone-3:before {
  content: "\e42a";
}

.icon-headphones-3:before {
  content: "\e42b";
}

.icon-volume-5:before {
  content: "\e42c";
}

.icon-volume-mute-3:before {
  content: "\e42d";
}

.icon-play-6:before {
  content: "\e42e";
}

.icon-pause-5:before {
  content: "\e42f";
}

.icon-stop-5:before {
  content: "\e430";
}

.icon-eject-3:before {
  content: "\e431";
}

.icon-first-3:before {
  content: "\e432";
}

.icon-last-3:before {
  content: "\e433";
}

.icon-play-alt:before {
  content: "\e434";
}

.icon-fullscreen-exit:before {
  content: "\e435";
}

.icon-fullscreen-exit-alt:before {
  content: "\e436";
}

.icon-fullscreen:before {
  content: "\e437";
}

.icon-fullscreen-alt:before {
  content: "\e438";
}

.icon-iphone:before {
  content: "\e439";
}

.icon-battery-empty:before {
  content: "\e43a";
}

.icon-battery-half:before {
  content: "\e43b";
}

.icon-battery-full-2:before {
  content: "\e43c";
}

.icon-battery-charging-2:before {
  content: "\e43d";
}

.icon-compass-6:before {
  content: "\e43e";
}

.icon-box-2:before {
  content: "\e43f";
}

.icon-folder-stroke:before {
  content: "\e440";
}

.icon-folder-fill:before {
  content: "\e441";
}

.icon-at:before {
  content: "\e442";
}

.icon-ampersand-2:before {
  content: "\e443";
}

.icon-info-7:before {
  content: "\e444";
}

.icon-question-mark:before {
  content: "\e445";
}

.icon-pilcrow-2:before {
  content: "\e446";
}

.icon-hash:before {
  content: "\e447";
}

.icon-left-quote:before {
  content: "\e448";
}

.icon-right-quote:before {
  content: "\e449";
}

.icon-left-quote-alt:before {
  content: "\e44a";
}

.icon-right-quote-alt:before {
  content: "\e44b";
}

.icon-article:before {
  content: "\e44c";
}

.icon-read-more:before {
  content: "\e44d";
}

.icon-list-8:before {
  content: "\e44e";
}

.icon-list-nested:before {
  content: "\e44f";
}

.icon-book-4:before {
  content: "\e450";
}

.icon-book-alt:before {
  content: "\e451";
}

.icon-book-alt2:before {
  content: "\e452";
}

.icon-pen-2:before {
  content: "\e453";
}

.icon-pen-alt-stroke:before {
  content: "\e454";
}

.icon-pen-alt-fill:before {
  content: "\e455";
}

.icon-pen-alt2:before {
  content: "\e456";
}

.icon-brush-2:before {
  content: "\e457";
}

.icon-brush-alt:before {
  content: "\e458";
}

.icon-eyedropper:before {
  content: "\e459";
}

.icon-layers-alt:before {
  content: "\e45a";
}

.icon-layers:before {
  content: "\e45b";
}

.icon-image-3:before {
  content: "\e45c";
}

.icon-camera-7:before {
  content: "\e45d";
}

.icon-aperture:before {
  content: "\e45e";
}

.icon-aperture-alt:before {
  content: "\e45f";
}

.icon-chart-3:before {
  content: "\e460";
}

.icon-chart-alt:before {
  content: "\e461";
}

.icon-bars-5:before {
  content: "\e462";
}

.icon-bars-alt:before {
  content: "\e463";
}

.icon-eye-6:before {
  content: "\e464";
}

.icon-user-8:before {
  content: "\e465";
}

.icon-home-6:before {
  content: "\e466";
}

.icon-clock-6:before {
  content: "\e467";
}

.icon-lock-stroke:before {
  content: "\e468";
}

.icon-lock-fill:before {
  content: "\e469";
}

.icon-unlock-stroke:before {
  content: "\e46a";
}

.icon-unlock-fill:before {
  content: "\e46b";
}

.icon-tag-stroke:before {
  content: "\e46c";
}

.icon-tag-fill:before {
  content: "\e46d";
}

.icon-sun-stroke:before {
  content: "\e46e";
}

.icon-sun-fill:before {
  content: "\e46f";
}

.icon-moon-stroke:before {
  content: "\e470";
}

.icon-moon-fill:before {
  content: "\e471";
}

.icon-cloud-9:before {
  content: "\e472";
}

.icon-rain:before {
  content: "\e473";
}

.icon-umbrella:before {
  content: "\e474";
}

.icon-star-9:before {
  content: "\e475";
}

.icon-map-pin-stroke:before {
  content: "\e476";
}

.icon-map-pin-fill:before {
  content: "\e477";
}

.icon-map-pin-alt:before {
  content: "\e478";
}

.icon-target-6:before {
  content: "\e479";
}

.icon-download-6:before {
  content: "\e47a";
}

.icon-upload-6:before {
  content: "\e47b";
}

.icon-cloud-download-2:before {
  content: "\e47c";
}

.icon-cloud-upload-2:before {
  content: "\e47d";
}

.icon-fork:before {
  content: "\e47e";
}

.icon-paperclip-3:before {
  content: "\e47f";
}