﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="contentMain" Runat="Server">
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            // hide the header logout button here
            $('#login-info').hide();
            $('#username-label-header-icon').hide();
            $('#buttonStuff').hide();

            // hide the footer
            $('#pagefooter').hide();
        });
    </script>

<div class="container-fluid">  
    <div class="row-fluid">
        <div class="span2"> </div>
        <div class="span8">

            <img src="lochbox_dav_newbookmark_start.png" />

            <img src="lochbox_dav_newbookmark.png" />

            <img src="lochbox_dav_login.png" />

        </div>
    </div>
</div>

</asp:Content>

