<%@ Import Namespace="System"%>
<%@ Import Namespace="System.IO"%>
<%@ Import Namespace="System.Net"%>
<%@ Import NameSpace="System.Web"%>

<Script language="C#" runat=server>
void Page_Load(object sender, EventArgs e) {
    // username is required
    if (Request.QueryString["u"] != null)
    {
        string username = Request.QueryString["u"].ToString();
        
        foreach (string f in Request.Files.AllKeys)
        {
            HttpPostedFile file = Request.Files[f];
            //file.SaveAs("c:\\inetpub\\uploads\\" + file.FileName);
            file.SaveAs(@"\\lochbox.clayton.edu\home\" + username + @"\_Public\" + file.FileName);
        }
    }	
}

</Script>
<html>
<body>
</body>
</html>