﻿#dragandrophandler
{
    border: 2px dashed #aaa;
    width: 100%;        
    color: #aaa;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;    
}

.progressBar 
{
    width: 100px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: top;
}
 
.progressBar div 
{
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #d1800e; 
    border-radius: 3px; 
}

.statusbar
{
    border-top: 1px solid #aaa;
    min-height: 25px;
    width: 98%;
    padding: 10px 10px 0px 10px;
    vertical-align: top;
}

.statusbar:nth-child(odd)
{
    background:#EBEFF0;
}

.filename
{
    display: inline-block;
    vertical-align: top;
    width: 210px;    
}

.filesize
{
    display: inline-block;
    vertical-align: top;
    color: #30693D;
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;    
}

.abort
{
    background-color: #A8352F;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    cursor: pointer;
    vertical-align: top
}