
/*-------------------------
	Dropbox Element
--------------------------*/

#dropbox{
    border: 2px solid #ccc;
	position: relative;
	min-height: 200px;
	overflow: auto;
    width: 97%;	
    font-size:12px;
    padding: 6px;
}

#dropbox .message{
	font-size: 11px;
    text-align: center;
    display: block;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

#dropbox:hover {
    
}

/*-------------------------
	Image Previews
--------------------------*/

#DELETE----dsropbox .preview{
	width: 245px;
	height: 30px;
	float:left;
	margin-left: 10px;
	position: relative;
	text-align: left;
}



#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
	
}

/*-------------------------
	Progress Bars
--------------------------*/

#dropbox .progressHolder{
	
	background-color:#252f38;
	height: 10px;
	width: 100%;    
	left:0px;
	bottom: 0;
	box-shadow:0 0 2px #000;
	
}

#dropbox .progress{
	background-color:#2586d0;
	
	height:100%;
	left:0;
	width:0;	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}
